# LDAP Settings
# MAS_AUTH_LDAP_SERVER1=ldaps://10.1.1.1:636
# MAS_AUTH_LDAP_SERVER2=ldap://10.1.1.1
# MAS_AUTH_LDAP_TLSVERIFY1=false
# MAS_AUTH_LDAP_TLSVERIFY2=false

# Bind Credentials
# MAS_AUTH_BINDDN=cn=LDAP Bind User,cn=Users,dc=ad,dc=local
# MAS_AUTH_BINDPASSWORD=Pa55w0rd

# Search Settings
# MAS_AUTH_SEARCHBASE=cn=Users,dc=ad,dc=local
# MAS_AUTH_USERFILTER=(sAMAccountName={})
# MAS_AUTH_GROUPFILTER=(&(objectClass=group)(member={}))

# JWT Settings
# MAS_AUTH_SECRETKEY=supersecretkey
# MAS_AUTH_TOKEN_LIFETIME=3600
