# App Settings
MAS_AUTH_PORT=8080
MAS_AUTH_DEBUG=false
MAS_AUTH_PROXY_FIX=true

# LDAP Settings
# Comma-separated list of LDAP servers
MAS_AUTH_LDAP_SERVERS=ldaps://10.1.1.1:636,ldap://10.1.1.2:389
MAS_AUTH_LDAP_TLS_VERIFY=false

# Bind Credentials
MAS_AUTH_BINDDN="cn=LDAP Bind User,cn=Users,dc=ad,dc=local"
MAS_AUTH_BINDPASSWORD=Pa55w0rd

# Search Settings
MAS_AUTH_SEARCHBASE=cn=Users,dc=ad,dc=local
MAS_AUTH_USERFILTER=(sAMAccountName={})
MAS_AUTH_GROUPFILTER=(&(objectClass=group)(member={}))

# JWT Settings
MAS_AUTH_TOKEN_LIFETIME=3600
# RSA keys for JWT signing (RS256). Generate with: openssl genrsa -out private.pem 2048; openssl rsa -in private.pem -pubout -out public.pem
MAS_AUTH_JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
MAS_AUTH_JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"

# Rekey Settings
MAS_AUTH_REKEY_MAX_COUNT=5
MAS_AUTH_REKEY_MAX_TIME_DIFF=86400
